@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

:root {
  --nav: rgb(0, 49, 83);
  --navshade: rgb(204, 201, 197);
  --sidebar: rgb(40, 40, 40);
  --sauce: rgb(74, 53, 105);
  --sauce-hover: rgb(74, 0, 105);
  --title: rgb(245, 182, 196);
  --text: rgb(245, 182, 196);
  --text-hover: rgb(255, 255, 255);
  --border: rgb(40, 40, 40);
  --shadow: rgba(0, 0, 0, 0.25);
  --card: rgb(255, 251, 246);
  --card-before: rgb(234, 192, 150);
  --card-after: rgb(215, 216, 217);
  --price: rgb(82, 83, 84);
  --rainbow: linear-gradient(
    90deg,
    rgb(249, 230, 230),
    rgb(249, 246, 230),
    rgb(235, 249, 230),
    rgb(230, 249, 241),
    rgb(230, 241, 249),
    rgb(249, 230, 246)
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* css for general looks */
html,
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  background-size: cover;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  background-image: var(--rainbow);
  padding: 0;
  margin: 0;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 25% auto;
  background-color: var(--nav);
  text-align: center;
  position: fixed;
  width: 100%;
}

main {
  grid-area: main;
  background-image: var(--rainbow);
  background-blend-mode: overlay;
  background-size: cover;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: var(--nav);
  text-align: center;
  position: relative;
  width: 100%;
}

footer .links {
  font-weight: 600;
  font-size: 2rem;
  place-self: center;
  text-decoration: none;
  margin: 0.5em 1em;
  padding: 0.5 1em;
  color: var(--text);
}

/* setup of the page */
.title {
  font-family: "Style Script", cursive;
  text-decoration: none;
  color: var(--title);
  font-weight: 600;
  font-size: 3.3rem;
  padding: 0;
  margin: 0;
}

.cardwrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  place-items: center;
  max-width: 300px;
  max-height: 600px;
  position: relative;
  margin: 1rem;
  padding: 0;
  background-color: var(--card);
  box-shadow: 0 4px 8px 0 var(--shadow);
}

.card * {
  padding: 0;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: var(--card-before) var(--card-after);
}

.card .title a {
  text-decoration: none;
  color: black;
}

.price {
  color: var(--price);
  font-size: 1.5em;
}

.product-image {
  width: 100%;
  height: 360px;
}

.product-information {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.3em;
}

.card-button:hover {
  opacity: 0.7;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 7px;
  color: var(--sidebar);
  background-color: var(--foreground);
}

.pagination {
  display: grid;
  place-items: center;
}

.button {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--sauce);
  color: var(--text);
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  border-radius: 4px;
  display: inline-block;
}

.button:hover {
  background-color: var(--sauce-hover);
}
/* navigation styling */
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
}

nav {
  text-align: left;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  opacity: 1;
  position: relative;
  color: var(--text);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

nav a:hover {
  color: var(--text-hover);
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background: var(--text-hover);
  position: absolute;
  top: -0.75em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

nav a:hover::before {
  transform: scale(1, 1);
}

/* form formatting */
.form {
  grid-template-areas: "label box";
  grid-template-columns: 25% 75%;
  grid-auto-rows: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] select {
  grid-area: box;
  width: 100%;
  padding: 1em 1.5em;
  margin: 0.5em 0;
  display: inline-block;
  border: 1px solid var(--border);
  border-radius: 0.25em;
}

input[type="submit"] {
  grid-area: box;
  width: 100%;
  background-color: var(--sauce);
  color: var(--text);
  padding: 1em 1.5em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

input[type="submit"]:hover {
  grid-area: box;
  background-color: var(--sauce-hover);
}

label {
  grid-area: label;
  padding: 1em 1em 1em 0;
  display: inline-block;
}

/* css for mobile */
@media screen and (max-width: 799px) {
  /* navigation styling */
  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }

  .nav-toggle-label span:before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--nav);
    border-bottom: var(--navshade);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  .show-mobile {
    display: flex;
  }
}

/* css for desktop */
@media screen and (min-width: 800px) {
  /* navigation bar design */
  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    display: none;
  }

  nav {
    position: relative;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex;
    align-items: center;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav ul li ul {
    display: none;
  }

  nav ul li ul li {
    display: none;
  }

  .show-mobile {
    display: none;
  }

  .cardwrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
