{% extends "./base.html" %}
{% load static %}
{% block title %}Over Ons{%endblock%}
{% block content %}

<div class="cardwrapper">
  <div class="pager">
      <h2>
          Wie zijn we?
      </h2>
      <p>
      Hallo, wij zijn Evie en Sanne. Omdat we gepassioneeerd zijn over het
      maken van goed passende maar vooral leuke kinderkleding, zijn we
      littleproductions begonnen.
      </p>
      <h2>
          Waar staan we voor?
      </h2>
      <p>
      We maken alle kleding zelf. Naast de voorraad die we hebben, maken we ook
      op verzoek. 
      Hiervoor zijn we bereikbaar via: <a
          href="mailto:info@littleproductions.nl>info@littleproductions.nl</a>
      Ons doel is om handgemaakte kinderkleding te leveren voor een leuke
      prijs. 
      </p>
  </div>
</div>
{% endblock %}

