{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Little Productions - {% block title %}{% endblock %}</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
  </head>
  <body class="container">
    <header>
      <h1 class="logo title">
        <img source={% static "media/logo.jpg" %}>Little Productions</h1>
      <input type="checkbox" id="nav-toggle" class="nav-toggle" />
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
	  <li><a href="/products">Products</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <a class="links" href="https://www.instagram.com/_littleproductions">
          Instagram
      </a>
    </footer>
  </body>
</html>
