{% extends "./base.html" %}
{% load static %}
{% block title %}Producten{% endblock %}
{% block content %}
<div class="cardwrapper">
  {% for product in products %}
  <div class="card">
    <img
      class="product-image"
      alt="Responsive Image"
      src="{{ product.image.url }}"
    />
<!--
    <a class="product-title" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
-->
    <a class="product-title" href="">{{ product.title }}</a>
    <p class="product-price">€{{ product.price }}</p>
    <p class="product-information">{{ product.description }}</p>
    <!--
    <button class="card-button">Voeg toe aan winkelmandje</button>
    -->
  </div>
  {% endfor %}
</div>
{% endblock %}
