{% extends "../base.html" %} {% block content %}
<div class="pager">
{{ product.title }}
{{ product.author }}
{{ product.description }}
{{ product.price }}
<label for="select">Hoeveelheid</label>
<select id="select">
  <option value="1">1</option>
  <option value="2">2</option>
</select>
<button type="button" id="add-button" value="{{product.id}}">Voeg toe aan winkelmandje</button>
</div>
<script>
    $(document).on('click', '#add-button', function (e) {
      e.preventDefault();
      $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_add" %}',
      data: {
        productid: $('#add-button').val(),
        productqty: $('#select option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
       },
       succes: function (json) {
               document.getElementById(

               document.getElementById("basket-qty").innerHTML = json.qty

       },
       error: function (xhr, errmsg, err) {
        
      }
      });
    })
</script>
{% endblock %}
